.wrap {
  display: flex;
}
.users {
  width: 49%;
  margin-left: 5px;
  border: 2px solid darkblue;
}
.posts {
  width: 49%;
  margin-left: 3px;
  border: 2px solid darkblue;
}
.comments {
  width: 98.5%;
  margin: 5px;
  border: 2px solid darkblue;
}